.wrapper {
    margin: 200px auto 0;
    display: grid;
    width: 200px;

    grid-template-areas:
    "a a"
    "b c";

    border: 2px solid black;
    border-radius: 5px;
    background-color: aquamarine;
}

